# Build files
*.o
*.d
obj/
build/

# Executables
*.out
*.exe
webserv

# IDE and editor files
.vscode/
.idea/
*.swp
*~
.cache
compile_commands.json

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Debug files
*.dSYM/

compile_commands.json
